.content{
    background-color: #EDE3DA;
    padding-bottom: 150px;
}

.list__container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.list__contents{
    width: 80%;
    margin: 0 auto;
}

.list__title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.list__box{
    margin-top: 30px;
}

.list__box_inner{
    background-color: #fff;
    border: 1px solid #333;
    padding: 40px;
}

.list__box_inner-title{
    text-align: left;
    display: inline-block;
    border-bottom: 5px dotted #333;
    font-size: 26px;
}

.list__box_inner-flex{
    display: flex;
    padding-top: 30px;
}

.list__box_inner-img{
    width: 500px;
    height: 300px;
}

.list__box_detail{
    margin-left: 50px;
    width: 35%;
}

.list__box_detail-data{
    margin-bottom: 15px;
}

.last-data{
    margin-bottom: 50px;
}

.list__box_dd{
    text-indent: 1em;
}

.list__box_btn{
    text-align: left;
}