.content{
  background-color: #EDE3DA;
  padding-bottom: 100px;
}

.mypage__container{
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}

.mypage__title{
  text-align: center;
  border-bottom: 5px dotted #333;
  padding-bottom: 20px;
}

.mypage__contents{
  width: 90%;
  margin: 0 auto;
}

.mypage__userData{
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 40px 60px;
  margin-top: 30px;
  width: 90%;
  margin: 60px auto 80px;
}

.mypage__flex{
  display: flex;
}

.user__data_input{
  display: block;
  margin-bottom: 15px;
}

.user_icon{
  width: 130px;
  height: 130px;
  border-radius: 70px;
  margin-right: 30px;
}

.user_icon-name{
  text-align: center;
}

.user__icon_inner{
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 20px;
}

.user__form{
  display: flex;
  align-items: end;
}

.user__form_inner{
  margin-right: 30px;
  margin-left: 70px;
}

.bookmarks{
  margin-bottom: 80px;
}

.bookmarks__inner{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
}

.bookmarks__title{
  text-align: center;
  border-bottom: 5px dotted #333;
  padding-bottom: 20px;
}

.bookmarks__box{
  width: 310px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 40px;
  padding-top: 20px;
}

.bookmarks__box_title{
  text-align: center;
  display: inline-block;
  border-bottom: 5px dotted #333;
  font-size: 26px;
}

.bookmarks__box_img{
  margin-top: 20px;
}

.bookmarks__box_inner-img{
  width: 220px;
  height: 150px;
}

.comments__title{
  text-align: center;
  border-bottom: 5px dotted #333;
  padding-bottom: 20px;
}

.comments__inner{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.comments__box{
  height: 150px;
  width: 400px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
}

.comments__subTitle{
  text-align: center;
  margin-bottom: 5px;
}

.my_comment{
  padding: 10px;
}

.modal {
  width: 600px;
  height: auto;
  padding: 20px;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: none;
  overflow-y: scroll;
}

.modal-close__wrap {
  position: absolute;
  right: 40px;
  top: 20px;
}

.modal-close {
  background: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 28px;
  display: block;
  height: 28px;
}

.modal-close span {
  position: relative;
  width: 100%;
  height: 1px;
  background: black;
  display: block;
}

.modal-close span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .6;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.overlay.open {
  display: block;
}
.modal.open {
  display: block;
}

.modal__title{
  border-bottom: 5px dotted #faf4e9;
  padding: 20px;
  text-align: center;
}

.modal__icon_inner{
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}